*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: f0f0f0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 15px;
    background-color: aliceblue;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.sections li{
    list-style-type: none;
    padding: 5px 10px;
    display: inline;
    justify-content: space-evenly;
}

.sections ul{
    list-style-type: none;
}

li a{
    color: inherit;
    text-decoration: none;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}
.contact a{
    text-decoration: none;
    color: inherit;
}

#logo{
    width: 15vw;
    height: auto;
}